Repository marcorezende-12/fsc-task-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, eslint

.lintstagedrc.json:

{
    "*.jsx": [ "prettier --write", "eslint --fix --max-warnings 0"],
    "*.js": ["eslint", "prettier --write", "eslint --fix --max-warnings 0"]
}

chore: tailwind config
  .husky/commit-msg
  Poppins.zip
  package-lock.json
  package.json
  postcss.config.js
  src/App.jsx
  src/index.css
  tailwind.config.js
Due: prettier --write, eslint --fix --max-warnings 0, eslint

chore: add poppins font
  Poppins.zip
  src/App.css
  src/assets/fonts/Poppins-Black.ttf
  src/assets/fonts/Poppins-BlackItalic.ttf
  src/assets/fonts/Poppins-Bold.ttf
  src/assets/fonts/Poppins-BoldItalic.ttf
  src/assets/fonts/Poppins-ExtraBold.ttf
  src/assets/fonts/Poppins-ExtraBoldItalic.ttf
  src/assets/fonts/Poppins-ExtraLight.ttf
  src/assets/fonts/Poppins-ExtraLightItalic.ttf
  src/assets/fonts/Poppins-Italic.ttf
  src/assets/fonts/Poppins-Light.ttf
  src/assets/fonts/Poppins-LightItalic.ttf
  src/assets/fonts/Poppins-Medium.ttf
  src/assets/fonts/Poppins-MediumItalic.ttf
  src/assets/fonts/Poppins-Regular.ttf
  src/assets/fonts/Poppins-SemiBold.ttf
  src/assets/fonts/Poppins-SemiBoldItalic.ttf
  src/assets/fonts/Poppins-Thin.ttf
  src/assets/fonts/Poppins-ThinItalic.ttf
  src/assets/react.svg
  src/index.css
  src/main.jsx
  tailwind.config.js
Due: prettier --write, eslint --fix --max-warnings 0, eslint

chore: add tailwind prettier plugin
  package-lock.json
  package.json
Due: none

feat: add Sidebar and SidebarButton component
  src/App.jsx
  src/components/Sidebar.jsx
  src/components/SidebarButton.jsx
  src/index.css
Due: prettier --write, eslint --fix --max-warnings 0

feat: add svg icons to Sidebar components
  package-lock.json
  package.json
  src/assets/icons/home.svg
  src/assets/icons/tasks.svg
  src/components/Sidebar.jsx
  src/components/SidebarButton.jsx
  vite.config.js
Due: prettier --write, eslint --fix --max-warnings 0, eslint

feat: add initial Task and Button components
  src/App.jsx
  src/assets/icons/add.svg
  src/assets/icons/trash.svg
  src/components/Button.jsx
  src/components/Tasks.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add separator between tasks
  src/assets/icons/arrow-left.svg
  src/assets/icons/check.svg
  src/assets/icons/chevron-right.svg
  src/assets/icons/cloud-sun.svg
  src/assets/icons/details.svg
  src/assets/icons/glass-water.svg
  src/assets/icons/loader.svg
  src/assets/icons/moon.svg
  src/assets/icons/sun.svg
  src/assets/icons/tasks-2.svg
  src/components/Tasks.jsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor: add TasksSeparator component
  src/components/Tasks.jsx
  src/components/TasksSeparator.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure tasks are listed on Task components
  src/components/TaskItem.jsx
  src/components/Tasks.jsx
  src/constants/tasks.js
Due: prettier --write, eslint --fix --max-warnings 0, eslint

feat: ensure TaskItem changes depending on task status
  src/assets/icons/loader.svg
  src/components/TaskItem.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure task status can be changed
  src/components/TaskItem.jsx
  src/components/Tasks.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: update spacing between sidebar and tasks
  src/components/Sidebar.jsx
  src/components/Tasks.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure task can be deleted
  src/components/Button.jsx
  src/components/TaskItem.jsx
  src/components/Tasks.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure toast is shown after task update
  package-lock.json
  package.json
  src/App.jsx
  src/components/Tasks.jsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor: export icons from single file
  src/assets/icons/index.js
  src/components/Sidebar.jsx
  src/components/TaskItem.jsx
  src/components/Tasks.jsx
Due: prettier --write, eslint --fix --max-warnings 0, eslint

style: add sort import plugin
  package-lock.json
  package.json
Due: none

feat: add initial AddTaskDialog component
  src/components/AddTaskDialog.jsx
  src/components/Tasks.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add size and secondary variant to Button
  src/components/Button.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add Input component
  src/components/Input.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure AddTaskDialog can be closed
  src/components/AddTaskDialog.jsx
  src/components/Tasks.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add transition to AddTaskDialog
  package-lock.json
  package.json
  src/components/AddTaskDialog.css
  src/components/AddTaskDialog.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add InputLabel component
  src/components/AddTaskDialog.jsx
  src/components/Input.jsx
  src/components/InputLabel.jsx
  src/components/SelectTime.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add TimeSelect component
  src/components/AddTaskDialog.jsx
  src/components/SelectTime.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure task can be added
  package-lock.json
  package.json
  src/components/AddTaskDialog.jsx
  src/components/Tasks.jsx
  src/components/TimeSelect.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure inputs are clean when closing AddTaskDialog
  src/components/AddTaskDialog.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure error is shown if required fileds are not filled on AddTaskDialog
  src/components/AddTaskDialog.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add validation errors to AddTaskDialog
  src/components/AddTaskDialog.jsx
  src/components/Input.jsx
  src/components/TaskItem.jsx
  src/components/TimeSelect.jsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: ensure errors are updated properly on AddTaskDialog
  src/components/AddTaskDialog.jsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: ensure timeError is working properly
  src/components/AddTaskDialog.jsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor: add design system
  src/components/AddTaskDialog.jsx
  src/components/Button.jsx
  src/components/Input.jsx
  src/components/InputErrorMessage.jsx
  src/components/InputLabel.jsx
  src/components/Sidebar.jsx
  src/components/SidebarButton.jsx
  src/components/TaskItem.jsx
  src/components/Tasks.jsx
  src/components/TasksSeparator.jsx
  src/components/TimeSelect.jsx
  src/index.css
  tailwind.config.js
Due: prettier --write, eslint --fix --max-warnings 0, eslint

chore: add tailwind-variant
  package-lock.json
  package.json
  src/components/Button.jsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor: add tailwind-variants to SidebarButton component
  src/components/Sidebar.jsx
  src/components/SidebarButton.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure tasks are fetched from API
  db.json
  package-lock.json
  package.json
  src/components/Tasks.jsx
  src/components/TasksSeparator.jsx
  src/constants/tasks.js
Due: prettier --write, eslint --fix --max-warnings 0, eslint

feat: ensure task is created on db
  src/components/Tasks.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure task is deleted from db
  src/components/Tasks.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add react router dom and initial TaskDetailsPage
  package-lock.json
  package.json
  src/components/TaskItem.jsx
  src/components/Tasks.jsx
  src/main.jsx
  src/pages/task-details.jsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add final commit to the project
  package-lock.json
  package.json
  src/assets/icons/index.js
  src/components/AddTaskDialog.css
  src/components/DashboardCard.jsx
  src/components/DashboardCards.jsx
  src/components/Header.jsx
  src/components/InputErrorMessage.jsx
  src/components/InputLabel.jsx
  src/components/Tasks.jsx
  src/hooks/data/use-add-task.js
  src/hooks/data/use-delete-task.js
  src/hooks/data/use-get-task.js
  src/hooks/data/use-get-tasks.js
  src/hooks/data/use-update-task.js
  src/index.css
  src/keys/mutations.js
  src/keys/queries.js
  src/lib/axios.js
  src/main.jsx
  src/pages/Home.jsx
  src/pages/TaskDetails.jsx
  src/pages/Tasks.jsx
  src/pages/task-details.jsx
Due: prettier --write, eslint --fix --max-warnings 0, eslint

feat: add update title and favicon
  images/01.png
  images/02.png
  images/3.png
  images/5.png
  index.html
  public/tasks.svg
  public/vite.svg
Due: none
